<% provide(:title, "Contacts") %>
  <h1 class="text-center">Contacts</h1>
  <p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>
<p>
  <a href="https://github.com/Laguna1">My github profile </a>
</p>